
html {
	font-family: Helvetica, sans-serif;
	color: #363636;
}

body {
	margin: 30px 40px;
}


/*_______________ timer clock _________________*/

h1 {
	font-size: 1.5em;
	margin: 10px 0px;
}


#timer_container{
	position: relative;
	display: inline-block;
  	vertical-align: middle;
  	overflow: hidden;
  	box-sizing: border-box;
  	width: 600px;
  	margin: 20px 0px;
  	padding: 10px 20px;
  	border-radius: 20px;
  	border: 15px solid #363636;
  	box-shadow: 0 5px 15px #4c4c4c;
}


#pie {
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  border: 50px solid white;
  box-sizing: border-box;
  background: conic-gradient(white 100%, red 100%);
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

#timer_out {
	position: absolute;
	font-size: 2em;
	font-weight: 600;
	box-sizing: border-box;
	top: 30%;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
	text-align: center;
}

#browser_note {
	position: absolute;
	font-size: 1em;
	font-weight: 600;
	box-sizing: border-box;
	padding: 7px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
	text-align: center;
	color: #e84d4d;
}

#timer_count {
	position: absolute;
	font-size: 2rem;
	font-weight: 600;
	box-sizing: border-box;
	bottom: 30%;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}


.count_value {
	font-size: 1.5rem;
}


/*_______________ timer controls _________________*/


#controls_container{
	display: inline-block;
	vertical-align: top;
	position: relative;
	left: 20px;
	top: 100px;
}

#SetTimer_input {
	width: 60px;
	height: 40px;
	border: 2px solid #363636;
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 2em;
	padding: 3px;
}


#SetTimer_input:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

label {
	font-size: 1.5em;

}

button {
	display: block;
	background-color: white;
	vertical-align: text-bottom;
	border: 0px;
	font-size: 1.5em;
	padding: 0px 20px;
	height: 50px;
	margin: 20px 0px;
}

button:hover {
	cursor: pointer;
}


button:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.btn_style-start {
	background-color: #56a256;
	color: white;
}

.btn_style-stop {
	background-color: #c54040 !important;
	color: white;
}






@media (max-width: 800px) {

#timer_container{
  	width: 100%;
  	margin: 30px 0;
  	padding: 0;
  	box-sizing: border-box;
}



#controls_container{
	left: 0px;
	top: 0px;
}


button {
	display: inline-block;
	margin: 0px 20px;
}


}
